/* Font */
*{
  font-family: 'Courier Prime', monospace;
}
/* Title, subtitle, and logo*/
.header {
  display: grid;
  grid-row: 2fr 1fr;
  grid-column: 4fr 1fr;
  text-align: center;
}
img {
  height: 50px;
  width: auto;
  margin: 0px;
}
h1, h2 {
  color: #5E17EB;
  margin: 0px;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 30px;
}
/* Generator button */

.generatorButton h3 {
display: inline-block;
  margin: 10px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #5E17EB;
  border-radius: 16px;
  background-color: #e6d7ff;
  color: #5E17EB;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);

}
  
.generatorButton h3:hover {
  cursor: pointer;
  box-shadow: 10px 2px 4px #5E17EB;
}
button {
  font-size: 20px;
}
/* Generator content */
h4 {
  font-size: 35px;
  padding: 30px;
}
.generatorContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* Directions */
p {
  font-size: 20px;
}
.instructions {
  border: 5px solid #5E17EB;
  margin: 20px;
  padding: 5px;
  background-color: #e6d7ff;
  line-height: 40px;
}
.modal {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  background: white;
  width: 50rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
  padding: 15px 20px;
}
.modalCloseButton {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}