.header {
  display: grid;
  grid-row: 2fr 1fr;
  grid-column: 4fr 1fr;
  text-align: center;
}
img {
  height: 50px;
  width: auto;
  margin: 0px;
}
h1, h2 {
  font-family: 'Courier Prime', monospace;
  color: #5E17EB;
  margin: 0px;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 30px;
}
.instructions {
  text-align: center;
  border: 5px solid #5E17EB;
  padding: 20px;
  margin: 50px 70px;
  background-color: #e6d7ff;
}
h3 {
  font-size: 30px;
  text-align: center;
}
h4 {
  font-size: 30px;
  display: flex;
  flex-wrap: nowrap; 
  align-content: space-around;
}
h5 {
  font-size: 15px;
}
.generator{
  margin: 10px 50px;
  border: 5px solid black;
}


